%reset_container
	margin: 0
	padding: 0
	height: auto
	width: auto

.container__chat
	@extend %reset_container
	position: fixed
	right: 0
	bottom: 0

.chat__main

	border-width: 1
	border-color: #CCC
	height: auto
	width: 20em

	.image__size
		width: auto
		height: 40px

	.user__image__size
		width: auto
		height: 30px

	.chat__box
		overflow-y: scroll
		height: 20em

	.chat__message
		
		border-width: 1
		border-bottom: 1
		border-bottom-color: #666666
		height: auto
		width: auto
	.new__message
		
		.line
			border-width: 1
			border-top: 1
			
.chat__button
	margin-left: 50%

.content__body
	margin: 0 10% 0 10%

.link__main
	text-decoration: none

	hover:
		text-decoration: none

	visited:
		text-decoration: none


.fields__inner
	border-color: #FFF
	border-width: 1px
	color: #FFF

.body__title
	border-color: #CCC
	border-width: 1px 0px 1px 0px    
   
.list__main
	list-style: none

.textarea__main
	width: 100%
	height: 8em
  
    
