{% extends "layouts/base.html" %}
<!-- grand parent -->

{% block head %}
  {{ super() }}

{% endblock head %}

{% block title %}
  {{ super() }}
  
  {% if TITLE %}
    {{ TITLE }}
  {% else %}
    {{ SITENAME }}
  {% endif %}

{% endblock title %}
  

{% block event_input %}
<!-- inputs for No js interaction will be placed here  -->
  <p>Inputs to have control over NO JS animations go in this segment. Check other themes for live examples</p>
  <input type="checkbox">
{% endblock event_input %}

{% block header %}
  <!-- Header -->
  <div site_header>
    Header
  </div>
{% endblock header %}

{% block navigation %}
  <!-- Nav bar -->
  {% include "chunks/nav.html" %}
{% endblock navigation %}

{% block content %}  
  {{ super() }}
  <div site_content id="page_content">
    Site Content
    <br>
    Cupcake Ipsum is also a great option for products that deal in a younger vibe, keeping things light and funny. We love that the generator gives us control over how much text to generate and how long paragraphs ought to be. This makes it even easier to use the generated text, requiring very little adjustments inside the prototyping tool.
    <br>
    Cheese Ipsum: cheesy text for everybody
    <br>
    Desserts and sweets aren’t for everyone – but who doesn’t like cheese? Cheese Ipsum goes for a similar effect to Cupcake Ipsum, but focusing on all the different types and shapes of cheese out there. Mozzarella, anyone?
  </div>
{% endblock content %}

{% block footer %}
  <!-- footer -->
  {% include "chunks/footer.html" %}

{% endblock footer %}
