{% extends "base.html" %}

{% block body %}

  <h1>{{ TITLE }}</h1>

  {% if documents %}
  <ul>
    {% for entry in documents %}
      <li>
        {% set url = "/" ~ model ~ "/" ~ entry.uuid %}
        {% if entry.name %}
          <a href="{{url}}">{{entry.name}}</a>
          <span class="alt-name">{{entry.store}} : {{entry.uuid}}</span>
        {% else %}
          {{entry.store}} : <a href="{{url}}">{{entry.uuid}}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% else %}
  No documents
  {% endif %}

  <div>
    <a href="/{{model}}/new">New {{ model | capitalize }}</a>
  </div>

{% endblock %}

