{% extends "base.html" %}

{% block body %}

  <h1>{{ TITLE }}</h1>
  <form method="POST" action="/">
    <input type="hidden" name="model" value="{{model_name}}">
    {% for name, field_def in model.fields %}
      <div>
        <label for="{{name}}">{{ name | capitalize }}</label>
        <input type="string" name="fields.{{name}}" id="{{name}}">
      </div>
    {% endfor %}
    <div>
      <textarea name="body"></textarea>
    </div>
    <button type="submit">Create {{model_name}}</button>
  </form>

{% endblock %}
