{% extends "base.html" %}

{% block body %}
  <div class=" content-center flex mb-4 mt-4">
    <div class="content__body rounded bg-white shadow-lg w-full overflow-hidden">
      <div class="shadow-md bg-grey-lighter px-5 py-1">        
        <h1 class="" >{{ TITLE }}</h1>
        <strong>Store:</strong> {{ store }} <br>
      </div>
      <div class="text-justify" >        
        <div class=" border-black px-5 py-2 shadow-inner">
          <h3>Fields</h3>
          <div class="py-1 px-4 flex flex-wrap content-center align-middle flex-col">
            {% for key, value in fields %}
            <div class="py-1 w-full flex flex-wrap flex-col sm:flex-col md:flex-row lg:flex-row xl:flex-row ">
              <label class="w-1/4 py-2 px-2 " for="{{key}}">
                {{ key | safe | capitalize }}:
              </label>               
              <label class="w-3/4 py-2 px-2 rounded text-grey-darker leading-tight " for="{{key}}" id="{{key}}">
                {{ value | safe }}                                    
              </label>
            </div>
                                   
              
            {% endfor %}                      
          </div>
        </div>
        <div class="">
          <h3 class="body__title px-5 py-1">Body</h3>
          <div id="content" class="container px-5 py-1"><pre>{{ body | safe }}</pre></div>

          {% if subdocuments %}
            <div class="px-5 py-2">
              <h3>Subdocuments</h3>
              {% for submodel, docs in subdocuments %}
                <h4 class="">                  
                  <a class="link__main text-black font-bold py-1 px-1 hover:text-blue" href="/{{model}}/{{id}}/{{submodel}}">
                    {{ submodel | capitalize }} 
                  </a>                                
                </h4>                
                <ul class="list__main">
                  {% for entry in docs %}
                    <li>
                      {% set url = "/" ~ submodel ~ "/" ~ entry.uuid %}
                      {% if entry.name %}
                        <h4 class="" >
                          <a class="link__main text-black font-bold py-1 px-1 hover:text-blue" href="{{url}}">
                            {{entry.name}}
                          </a>
                        </h4>
                        <div class="flex flex-wrap flex-col sm:flex-col md:flex-row lg:flex-row xl:flex-row">
                          <span class="w-4/5 py-2 px-2 rounded text-grey-darker leading-tight">
                            {{entry.store}} : {{entry.uuid}}
                          </span>
                          <div class="w-1/5">
                            <a class="text-black text-sm link__main font-bold bg-blue rounded-full py-2 px-2 hover:bg-blue-dark hover:text-white " href="{{url}}"> 
                              Show 
                            </a>                                                       
                          </div>
                        </div>
                      {% else %}
                        <div class="flex flex-wrap flex-col sm:flex-col md:flex-row lg:flex-row xl:flex-row">
                          <span class="w-4/5 py-2 px-2 rounded text-grey-darker leading-tight">
                            {{entry.store}} : {{entry.uuid}}
                          </span>
                          <div class="w-1/5">
                            <a class="text-black text-sm link__main font-bold bg-blue rounded-full py-2 px-2 hover:bg-blue-dark hover:text-white " href="{{url}}"> 
                              Show 
                            </a>                                                       
                          </div>
                        </div>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endfor %}              
            </div>
          {% endif %}          
        </div>
        <div class="text-center px-5 py-1">
          <a class="inline-block text-black link__main font-bold bg-blue rounded-full py-2 px-4 hover:bg-blue-dark hover:text-white" href="/?witness={{ id }}">Witness</a>
          <a class="inline-block text-black link__main font-bold bg-yellow rounded-full py-2 px-4 hover:bg-yellow-dark hover:text-white" href="/{{model}}/{{id}}/edit">Edit</a>
        </div>                
      </div>
    </div>
  </div>

{% endblock %}
