{% extends "base.html" %}

{% block body %}
  <style type="text/css">    
    .content__body{
      margin: 0 10% 0 10%;
    }


    .link__main{
      text-decoration: none;
      
    }

    .link__main:hover{
      text-decoration: none;
    }
    .link__main:visited{
      text-decoration: none;
    }
    
    .fields__inner{
      border-color: #FFF;
      border-width: 1px;
      color:#FFF;
    }
    .body__main{
      border-color: #CCC;
      border-width: 1px 0px 1px 0px;     
    }
    
  </style>
  <div class=" content-center flex mb-4 mt-4">
    <div class="content__body rounded bg-white shadow-lg w-full overflow-hidden">
      <div class="shadow-md bg-grey-lighter px-5 py-1">        
        <h1 class="" >{{ TITLE }}</h1>
        <strong>Store:</strong> {{ store }} <br>
      </div>
      <div class="text-justify" >        
        <div class=" border-black px-5 py-2 shadow-inner">
          <h3>Fields</h3>
          <div class="flex flex-wrap">
            {% for key, value in fields %}
              <div class="px-3 py-1 w-2/4 flex-grow flex-shrink text-center rounded bg-black fields__inner">
                <strong>{{ key | safe }}:</strong> {{ value | safe }}
                <br>            
              </div>
            {% endfor %}                      
          </div>
        </div>
        <div class="px-5 py-1 body__main">
          <h3>Body</h3>
          <div id="content" class="container"><pre>{{ body | safe }}</pre></div>

          {% if subdocuments %}
            <h3>Subdocuments</h3>
            {% for submodel, docs in subdocuments %}
              <h4><a href="/{{model}}/{{id}}/{{submodel}}">{{ submodel | capitalize }}</a></h4>

              <ul>
                {% for entry in docs %}
                  <li>
                    {% set url = "/" ~ submodel ~ "/" ~ entry.uuid %}
                    {% if entry.name %}
                      <a href="{{url}}">{{entry.name}}</a>
                      <span class="alt-name">{{entry.store}} : {{entry.uuid}}</span>
                    {% else %}
                      {{entry.store}} : <a href="{{url}}">{{entry.uuid}}</a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>

            {% endfor %}
          {% endif %}          
        </div>
        <div class="text-center px-5 py-1">
          <a class="inline-block text-black link__main font-bold bg-blue rounded-full py-2 px-4 hover:bg-blue-dark hover:text-white" href="/?witness={{ id }}">Witness</a>
          <a class="inline-block text-black link__main font-bold bg-yellow rounded-full py-2 px-4 hover:bg-yellow-dark hover:text-white" href="/{{model}}/{{id}}/edit">Edit</a>
        </div>                
      </div>
    </div>
  </div>

{% endblock %}
