//!11111!!!!!!!1111!!!!!!!1111!!!!!!!1111!!!!!!!1111!!!!!!!!discrod-modal
@keyframes fadeUpIn
  0%
    opacity: 0
    bottom: -30%
  100%
    opacity: 1

@keyframes fadeOut
  0%
    opacity: 1

  100%
    opacity: 0
    bottom: -30%


.discordModal
  display: flex
  justify-content: flex-end

  .button
    font-size: 1em
    padding: 10px
    color: #fff
    border: 2px solid #06D85F
    border-radius: 20px/50px
    text-decoration: none
    cursor: pointer
    transition: all 0.3s ease-out
    &:hover
      background: #06D85F

  .overlay
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    visibility: hidden
    opacity: 0
    &:target
     animation: fadeUpIn 1s
     -webkit-animation: fadeUpIn 1s
     visibility: visible
     opacity: 1
  .popup
    border: 1px solid darken(#8d8d8d, 20%)
    margin: 70px auto
    background: #8d8d8d
    border-radius: 5px
    width: 30%
    position: relative
    transition: all 5s ease-in-out
    position: absolute
    right: 1%
    bottom: 8%
    h2
      margin-top: 0
      color: #333
      font-family: Tahoma, Arial, sans-serif
  .close
    position: absolute
    top: -5px
    right: 7px
    transition: all 200ms
    font-size: 30px
    font-weight: bold
    text-decoration: none
    color: #333

    &:hover
      color: #06D85F
    &:target
      animation: fadeOut 1s
      -webkit-animation: fadeOut 1s



  .content
    max-height: 30%
    overflow: auto
    iframe
      width: 100%

/////////////////////////////end of popup



