.chat__button
	@extend .animated
	@extend .fadeInUp 
	cursor: pointer
	position: fixed
	transition: visibility 1.5s linear
	right: 1em
	bottom: 5px
	border-top-left-radius: 40%
	border-top-right-radius: 5%
	border-bottom-left-radius: 40%
	border-bottom-right-radius: 40%
	
	
	&:focus
		@extend .animated
		@extend .fadeOutDown
		animation-delay: 0s
		animation-duration: 0.2s

		~ .chat__main
			@extend .animated
			@extend .fadeInUp 

			visibility: visible
			display: block