.aux__section 
	//incase the button dissapear if you click here it will make it reapear
	z-index: 1
	cursor: pointer
	position: fixed
	right: 1.8em
	bottom: 0.8em
	opacity: 1
	width: 2em
	height: 2em
	opacity: 0

.chat__button 
	//Button that show and dissapear
	@extend .animated
	@extend .fadeInUp
	
	cursor: pointer
	position: fixed
	right: 1em
	bottom: 5px
	z-index: 2	
	transition: visibility 1.5s linear
	animation-delay: 1.2s
	-webkit-animation-delay: 1.2s
	@extend %rounded-to-top-right
