.chat__button
	@extend .animated
	cursor: pointer
	position: fixed
	transition: visibility 1.5s linear
	right: 1em
	bottom: 5px
	animation-delay: 1.2s
	-webkit-animation-delay: 1.2s
	border-top-left-radius: 40%
	border-top-right-radius: 5%
	border-bottom-left-radius: 40%
	border-bottom-right-radius: 40%
	
	&:focus
		@extend .animated
		animation-delay: 0.8s
		-webkit-animation-delay: 0.8s
		animation-duration: 0.2s
		-webkit-animation-duration: 0.2s
		
		~ .chat__main
			@extend .animated
			@extend .fadeInUp 
			visibility: visible
			display: block
