<!DOCTYPE html>
<html>
  <head>
    {% block head %}    
    
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>
        {% block title %}
          <!-- Title -->
        {% endblock  %}
      </title>
    
      
      {% block style %}
        <!-- Style tags css inside the html -->
        <style>
        </style>        
      {% endblock  %}
      
    {% endblock  %}
  </head>
  <body>
    {% block body %}
      <div id="page">

        <div id="header">
          {% block header %}
            <!-- Header -->
          {% endblock  %}  
        </div>

        <div id="navigation">
          {% block navigation %}
            <!-- Nav bar -->
          {% endblock  %}          
        </div>

        <div id="content">
          {% block content %}
            <!-- Content of any page -->        
          {% endblock  %}
        </div>
        
        <div id="footer">
          {% block footer %}
            <!-- footer -->
          {% endblock  %}    
        </div>
        
      </div>
    </body>  
  {% endblock  %}

</html>