<!DOCTYPE html>
<html>
  <head>
    {% block head %}    
      <title>
        {% block title %}
          <!-- Title -->
        {% endblock title %}
      </title>
    
      
      {% block style %}
        <!-- Style tags css inside the html -->
        <style>
        </style>        
      {% endblock style %}
      
    {% endblock head %}
  </head>
  <body>
    {% block body%}
      <div id="page">

        <div id="header">
          {% block header %}
            <!-- Header -->
          {% endblock header%}  
        </div>

        <div id="navigation">
          {% block navigation %}
            <!-- Nav bar -->
          {% endblock navigation%}          
        </div>

        <div id="content">
          {% block content %}
            <!-- Content of any page -->        
          {% endblock content%}
        </div>
        
        <div id="footer">
          {% block footer %}
            <!-- footer -->
          {% endblock footer%}    
        </div>
        
      </div>
    </body>  
  {% endblock body%}

</html>