{% extends "layouts/base.html" %}

{% block head %}

  {% include  'headers/meta.html' %}
  {% include  'headers/feeds.html' %}
  {% include  'headers/stylesheets.html' %}

  {% block title %}
    {{ super() }}

    {% if TITLE %}
      {{ TITLE }}
    {% else %}
      {{ SITENAME }}
    {% endif %}

  {% endblock title %}  

  {% block style %}
    {{ super() }}
    {% include  'headers/styles-basic.html' %}
    {% include  'headers/styles-studio.html' %}
  {% endblock style %}

{% endblock head %}

{% block body %}
  {{ super() }}

  {% block navigation %}
    {{ super() }}
    <!-- Nav bar-->
    {% include  'chunks/nav.html' %}

  {% endblock navigation %}  

  {% block content %}
    {{ super() }}


  {% endblock content %}

  {% block footer %}
    {{ super() }}

    <!-- footer -->
    {% include  'chunks/footer.html' %}

  {% endblock footer %} 

{% endblock body %}
