<div * id="big_container">
  <div id="card_container" >
    <div id="card_header" >
      <!-- Title  -->
      {% include "chunks/list_document/list_documents_title.html" %}

      <div id="inline_aligner" >
        <a id="green_button"
          href="/{{model}}/new">New {{ model | capitalize }}</a>
      </div>
    </div>
    {% if documents %}
    <ul id="list" >
      {% for entry in documents %}
      <li id="list_border" >

        {% set url = "/" ~ model ~ "/" ~ entry.uuid %}
        <!-- Elements of the list -->
        {% include "chunks/list_document/list_documents_el.html" %}

      </li>
      {% endfor %}
    </ul>
    {% else %}
    <h2>
      No documents
    </h2>
    {% endif %}

    <div id="center_container" >
      <a id="green_button"
        href="/{{model}}/new">New {{ model | capitalize }}</a>
    </div>

  </div>
</div>